.header{
  background: #007765;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-around;
  height: 84px;
  align-items: center;
}

.header_link{
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.header_links{
padding: auto;
}

.hero_block_back0{
  background-image: url(https://c-c-6ypo8.github.io/ht_Basics/piedpipercoin/img/header.png);
  background-size: cover;
  background-position: center;
  padding-top: 128px;
  padding-bottom: 128px;
}

.hero_block_text0{
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: #FFFFFF;
}

.block_problem, .hero_block_back, .content2, .team{
  max-width: 1109px;
  margin-left: auto;
  margin-right: auto;
}
.content1, .content3{
  background: #EEEEEE;
  padding: 55px 0px;
}

.content2{
  background: #FFFFFF;
  padding: 55px 0px;
}

p{
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
}

.title{
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
}

.hero_block{
  background-image: url('https://i.ibb.co/PM6cMBn/image.png');
  background-size: cover;
  background-position: center;
  padding-top: 128px;
  padding-bottom: 128px;
}

.hero_block_back{
  box-sizing: border-box;
}

.hero_block_text{
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #fff;
}

.introducing_logo{
  float: left;
  width: 115px;
  height: 115px;
  margin: 30px 50px 0px 20px;
}

.user img{
  width: 168px;
  height: 168px;
  padding: 60px;
}

.user-name{
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #007765;
}

.user-role{
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.team{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.block-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  height: 176px;
  padding: 0px 55px;
}

.text-footer{
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 18px;
  max-width: 800px;
  text-align: center;
}
 
/*anchor */
#block_problem,
#PiedPiperCoin,
#Team {
    border-top: 84px solid transparent;
    margin-top: -84px;
    background-clip: padding-box;
}

body{
  margin: 0;
}
