.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#shape {
    width: 150px;
    height: 150px;
    background-color: blue;
    display: none;
    position: relative;
}