body{
	width: 70%;
	margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
h1,h2,h3,h4,h5,h6 { 
	font-family: sans-serif; 
	padding: 20px 0px 0px 0px;
} 
h1{
	font-size: 32px;
}
table, th, td{
	border: 1px solid black;
}
figure{
	float:right;
	clear:right;

}

figcaption{
	font-style: italic;
	text-align: center;

}